# Ignore Mac system files
.DS_store

# Ignore token.py, if present
token.py

# Ignore Python Module Cache
__pycache__/*

# Ignore 'downloads' folder
*downloads*

# Ignore log files
**/*.log

# Ignore Visual Studio Code Workspace
*.code-workspace

# Ignore conf file
zoom-recording-downloader.conf

# Ignore vscode settings
.vscode

# Ignore Python virtual environment
venv

# Ignore Python bytecode
*.pyc

# Ignore Python cache
__pycache__

# Ignore flake8 cache
.flake8

# Ignore Idea files
.idea

# Ignore Zoom recording downloader token
token.json

# Ignore Zoom recording downloader credentials
client_secret.json

# Ingore python venv
.venv

# If using pipx
/build
*.egg-info

# Ignore Google Drive credentials
client_secrets.json

# Ignore Zoom US CSVs
zoomus_recordings_*.csv

# Ignore progress json file
progress_log.json

# Ignore default verification output file
verification_report*.csv

# Ignore default deletion output file
deletion_report*.csv
